nav {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    width: 70%;
    margin: 0 auto;
  }
  
  .wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .headerWrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
  }
  
  .header {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .navWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .nav {
    font-size: 16px;
    font-weight: 600;
    color: black;
    position: relative;
    margin-right: 50px;
  }
  
  .mainSectionContainer {
    width: 100%;
    padding: 25px 0px 35px;
    border-bottom: 3px solid burlywood;
  }
  
  .sectionTitle {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: #000000;
  }
  
  .sectionList{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .sectionItems{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    position: relative;
  }
  
  .sectionDescription{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }